- include_tasks: "{{ ansible_distribution | lower }}.yml"

- name: Set ibus config
  dconf:
    key: "/desktop/ibus/{{ item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: "{{ ibus_config | dict2items }}"
